

.menu{
    color: rgb(0, 0, 0);
    background: #d6d1d1;
    opacity: 85%;
    text-align: center;
}
.nav{
    color: rgb(0, 0, 0);
    background: #d6d1d1;
    opacity: 85%;
    text-align: center;
}